.navbar-brand  {
    background-color: lightskyblue;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    color: lightgray;
    text-align: center;
    
}

section {
    color: lightskyblue;
    font-family: 'Lato', sans-serif;
}

img {
    width: 200px;
    height: 100%;
    float: left;
}
   
.main {
    float: left;
}

.fixed-bottom {
    text-align: center;
}


