
.navbar {
    text-align: right;
    margin-right: 2%;
}

.navbar-brand   {
    background-color: lightseagreen;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white !important;
}


a {
    color: white;
}

body {
    background-color: silver;
}

.container {
    margin-bottom: 120px;
    background-color: white;
}

h1 {
    color: lightseagreen;
}

img {
    margin: 15px;
}

.figure-caption {
    position: absolute;
    background-color: lightseagreen;
    padding: 10px;
    bottom: 0;
    z-index: 999;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    display: block;
    padding: 25px;
}





   






